// Variables
$w-web: 1280px;
$m-c: #2d8dc5;
$l-c: #f4f4f4;
$me-c: rgb(114, 113, 113);
$d-c: #333;
$bg-i: url('/img/showcase.jpg');
$c-c: #ffbc00;

// Set Text Color 
@function set-text-color($color) {
   @if (lightness($color) > 50) {
      @return #000;
   } @else {
      @return #fff;
   }
}